.App {
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
.row-header {
  display: flex;
  float: right;
  box-shadow: 0px 3px 3px 0px;
  height: 60px;
  width: 100%;
  padding-left: 1000px;
}
.login,.sign-up {
  padding-right: 15px;
  float: right;
}
.login-form,.sign-up-form,.nopage {
  
  padding-top: 15%;
  width: 50%;
  margin:0 auto;
  /* padding: 10%; */
}
.title{
  
  border-radius: 5%;
  border: 3px solid grey;
  width: 50%;
  padding: 20px;
  margin: auto;
}
.login-form{
  width: 80%;
  margin:0 auto;
}
.row-div{
  display: flex;
}
a.buttons {
  
  background-color: #0E6EFD; /* Green */
  border: none;
  color: white!important;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none!important;
  display: inline-block;
  font-size: 16px;
}
a{
  text-decoration: none!important;
}
.my-application{
  padding-top: 15%;
  width: 50%;
  margin: auto;
}
.jobs-available{
  padding-top: 15%;
  width: 50%;
  margin:0 auto;

}
.row-jobs{
display: flex;
justify-content: space-between;
padding: 10px;
width: 50%;
margin:0 auto;
align-items: center;
}
.job-title{
  font-weight: bold;
  padding: 10px;
}
.view-detail{
 display: flex;
  align-items: center;
  margin:7px;
}

table {
  border-collapse: separate;
  border-spacing: 0 15px;
  margin: 0 auto;
}

th {
  background-color: #4287f5;
  color: white;
}

th,
td {
  width: 150px;
  text-align: center;
  border: 1px solid black;
  padding: 5px;
}
.document-card{
  height: 600px;
  width: 800px;
}

.new-add{
width:400px;
height: 100px;
display: flex;
}
.main-detail{
width: 700px;
}
.title-detail{
  display: flex;
}
.head_content,.job-titles{

  font-weight: bold;
}
.job-titles{
  padding-bottom: 20px;
}
.cv{
  margin-right: 15px;
}